<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>API - Un día en la vida de</title>

    <link href="css/styles.css" type="text/css" rel=stylesheet />
</head>

<body>
    <div class="container">
        <h1>API - Un día en la vida de ...</h1>
        <p>Interfaz de aplicación para el funcionamiento del aplicativo móvil</p>
        <p><b>Investigador a cargo:</b> Juan Carlos Briede</p>
        <p><b>Autor API:</b> Felipe González Alarcón</p>
        <p><i>Proyecto de Título para Ingeniería Ejecución Informática</i></p>
    </div>

    <hr>
    <div class="parrafo">
        <h1 id="-qu-es-">¿Qué es?</h1>
        <p><strong>&quot;App - Un día en la vida de ...&quot;</strong> es una aplicación móvil para android desarrollada
            para el proyecto &quot;Investigación de un método participativo y de co-creación para el diseño de productos
            para el adulto mayor autovalente. Aplicación en la región del Biobío&quot; basada en el método <em>&quot;UN
                DÍA
                EN LA VIDA DE … (SANDERS Y STAPPERS 2012)<sup><a href="#referencia">1</a></sup>&quot;</em></p>
        <p align="center"><img src="https://drive.google.com/uc?export=download&id=1UGqItKIq1ny5uy_oQn-G6Xcf0NEqRwSN"
                style="display: block;margin-left: auto;margin-right: auto;" width="400" height="400"></p>

        <p>Este proyecto tiene por objetivo aplicar una estrategia de co-diseño en el ámbito de la vida diaria de los
            adultos mayores en Chile para lograr determinar desde el ámbito del diseño industrial interdisciplinario,
            innovaciones que permitan favorecer la calidad de vida de este grupo etario.</p>
        <h1 id="caracter-sticas">Características</h1>
        <ul>
            <li>Crea entrevistas, eventos y registra entrevistados en el sistema.</li>
            <li>Obtén visualizaciones de los datos dentro de la aplicación mediante el poderoso software
                <a href="https://www.tableau.com/">Tableau</a>
            </li>
        </ul>
        <h1 id="-donde-descargar-la-aplicaci-n-">¿Donde descargar la aplicación?</h1>
        <p>Directamente en <a href="https://play.google.com/store/apps/details?id=cl.udelvd" target="_blank"
                rel="noopener noreferrer">Google
                Play</a>
        </p>
        <p><a href="https://play.google.com/store/apps/details?id=cl.udelvd" target="_blank"
                rel="noopener noreferrer"><img
                    src="https://drive.google.com/uc?export=download&id=1c-VbbEiDdBR7fos-6TZ_-HxFHxXoarlw" width="282"
                    height="84"></a>
        </p>

        <h1>Referencias</h1>

        <ul>
            <li><em>Sanders & Stappers ,(2012) Convivial Toolbox: Generative Research for the Front End of Design.BIS
                Publishers, Amsterdam/ The Nederlands. 312 Pages.</em></li>
        </ul>
    </div>
</body>

</html>