<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>API - Un día en la vida de</title>

    <link href="css/styles.css" type="text/css" rel=stylesheet />
</head>

<body>
    <div class="container">
        <h1>API - Un día en la vida de ...</h1>
        <p>Interfaz de aplicación para el funcionamiento del aplicativo móvil</p>
        <p><b>Investigador a cargo:</b> Juan Carlos Briede</p>
        <p><b>Autor API:</b> Felipe González Alarcón</p>
        <p><i>Proyecto de Título para Ingeniería Ejecución Informática</i></p>
    </div>

    <hr>
    <div class="parrafo">
        <h1 id="-qu-es-">¿Qué es el proyecto?</h1>
        <p>Es una APP móvil desarrollada para el método
            <em>&quot;Un día en la vida de ...&quot;</em>, Sanders y Stappers (2012) que permite realizar sondeos
            preliminares sobre actividades cotidianas para el estudio de usuarios.</p>

        <p align="center"><img src="https://drive.google.com/uc?export=download&id=1UGqItKIq1ny5uy_oQn-G6Xcf0NEqRwSN"
                style="display: block;margin-left: auto;margin-right: auto;" width="400" height="400"></p>

        <h1 id="caracter-sticas">Características</h1>
        <p>Con esta APP tú puedes registrar entrevistados, realizar entrevistas a estas personas y también, registrar
            los eventos que han realizado durante su vida diaria, asociar emociones a cada una de ellas mediante la
            asignación de emoticones o emojis y finalmente, las razones que llevaron a esa persona a elegir aquellas
            valoraciones.
        </p>

        <p>Adicionalmente, te permitirá no solo registrar en tiempo real dicha entrevista, si no la posibilidad de
            realizar estudios de frecuencias del entrevistado, permitiendo conocer su universo con respecto a las
            actividades de su vida diaria, emociones, etc. Toda la información anterior será presentada de manera
            resumida en gráficos de datos, en los que se puede interactuar mediante filtros de búsqueda para facilitar
            el análisis de los datos recopilados. Además, estas visualizaciones son accesibles de manera on-line
            mediante el software <a href="https://www.tableau.com/">Tableau</a>.
        </p>

        <h1 id="caracter-sticas">Contexto de desarrollo</h1>
        <p>El desarrollo de esta APP está enmarcado en el proyecto de investigación Fondecyt Regular Nº1171037
            <em>&quot;Investigación de un método participativo y de co-creación para el diseño de productos para el adulto mayor
            autovalente. Aplicación en la región del Biobío&quot;</em>, y la colaboración entre los investigadores del proyecto y
            Elizabeth Sanders Nielsen, como autora de esta herramienta metodológica.</p>

        <h1 id="-donde-descargar-la-aplicaci-n-">¿Donde descargar la aplicación?</h1>
        <p>Directamente en <a href="https://play.google.com/store/apps/details?id=cl.udelvd" target="_blank"
                rel="noopener noreferrer">Google
                Play</a>
        </p>
        <p><a href="https://play.google.com/store/apps/details?id=cl.udelvd" target="_blank"
                rel="noopener noreferrer"><img
                    src="https://drive.google.com/uc?export=download&id=1c-VbbEiDdBR7fos-6TZ_-HxFHxXoarlw" width="282"
                    height="84"></a>
        </p>

        <h1 id="referencias">Referencias</h1>

        <ul>
            <li><em>Sanders & Stappers ,(2012) Convivial Toolbox: Generative Research for the Front End of Design.BIS
                    Publishers, Amsterdam/ The Nederlands. 312 Pages.</em></li>
        </ul>
    </div>
</body>

</html>